.expandedFolderIconWrapper-Huv7rA svg{
    color: #7289da !important;
}
.theme-light {
    --header-primary: #060607 !important;
    --header-secondary: #4f5660 !important;
    --text-normal: #2e3338 !important;
    --text-muted: #747f8d !important;
    --text-link: #0067e0 !important;
    --text-positive: #3ba55c !important;
    --interactive-normal: #4f5660 !important;
    --interactive-hover: #2e3338 !important;
    --interactive-active: #060607 !important;
    --interactive-muted: #c7ccd1 !important;
    --background-primary: #fff !important;
    --background-secondary: #f2f3f5 !important;
    --background-secondary-alt: #ebedef !important;
    --background-tertiary: #e3e5e8 !important;
    --background-accent: #747f8d !important;
    --background-floating: #fff !important;
    --background-mobile-primary: #f8f9f9 !important;
    --background-mobile-secondary: #fff !important;
    --background-modifier-hover: rgba(116,127,141,0.08) !important;
    --background-modifier-active: rgba(116,127,141,0.16) !important;
    --background-modifier-selected: rgba(116,127,141,0.24) !important;
    --background-modifier-accent: rgba(6,6,7,0.08) !important;
    --info-positive-text: #000 !important;
    --info-warning-text: #000 !important;
    --info-danger-text: #000 !important;
    --info-help-background: rgba(0,103,224,0.1) !important;
    --info-help-foreground: #7289da!important;
    --info-help-text: #000 !important;
    --status-warning-text: #fff !important;
    --scrollbar-thin-thumb: rgba(79,84,92,0.3) !important;
    --scrollbar-thin-track: transparent !important;
    --scrollbar-auto-thumb: #ccc !important;
    --scrollbar-auto-track: #f2f2f2 !important;
    --scrollbar-auto-scrollbar-color-thumb: #e3e5e8 !important;
    --scrollbar-auto-scrollbar-color-track: #f2f3f5 !important;
    --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08) !important;
    --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025) !important;
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.08) !important;
    --elevation-high: 0 8px 16px rgba(0,0,0,0.16) !important;
    --logo-primary: #7289da !important;
    --control-brand-foreground: #7289da !important;
    --control-brand-foreground-new: #5865f2 !important;
    --background-mentioned: rgba(250,166,26,0.1) !important;
    --background-mentioned-hover: rgba(250,166,26,0.2) !important;
    --background-message-hover: rgba(6,6,7,0.02) !important;
    --channels-default: #6a7480 !important;
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4) !important;
    --channeltextarea-background: #ebedef !important;
    --activity-card-background: #fff !important;
    --textbox-markdown-syntax: #6a7480 !important;
    --deprecated-card-bg: #f8f9f9 !important;
    --deprecated-card-editable-bg: rgba(246,246,247,0.6) !important;
    --deprecated-store-bg: #f8f9f9 !important;
    --deprecated-quickswitcher-input-background: #fff !important;
    --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3) !important;
    --deprecated-text-input-bg: rgba(79,84,92,0.02) !important;
    --deprecated-text-input-border: rgba(79,84,92,0.3) !important;
    --deprecated-text-input-border-hover: #b9bbbe !important;
    --deprecated-text-input-border-disabled: #dcddde !important;
    --deprecated-text-input-prefix: #b9bbbe !important;
}
.theme-dark,.theme-light {
    --text-warning: #faa61a !important;
    --text-danger: #ed4245 !important;
    --info-positive-background: rgba(59,165,92,0.1) !important;
    --info-positive-foreground: #3ba55c !important;
    --info-warning-background: rgba(250,166,26,0.1) !important;
    --info-warning-foreground: #faa61a !important;
    --info-danger-background: rgba(237,66,69,0.1) !important;
    --info-danger-foreground: #ed4245 !important;
    --status-positive-background: #3ba55c !important;
    --status-positive-text: #fff !important;
    --status-warning-background: #faa61a !important;
    --status-danger-background: #ed4245 !important;
    --status-danger-text: #fff !important;
    --focus-primary: #00b0f4 !important;
}
.theme-dark {
    --header-primary: #fff !important;
    --header-secondary: #b9bbbe !important;
    --text-normal: #dcddde !important;
    --text-muted: #72767d !important;
    --text-link: #0067e0 !important;
    --text-positive: #4fdc7b !important;
    --interactive-normal: #b9bbbe !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #4f545c !important;
    --background-primary: #36393f !important;
    --background-secondary: #2f3136 !important;
    --background-secondary-alt: #292b2f !important;
    --background-tertiary: #202225 !important;
    --background-accent: #4f545c !important;
    --background-floating: #18191c !important;
    --background-mobile-primary: #36393f !important;
    --background-mobile-secondary: #2f3136 !important;
    --background-modifier-hover: rgba(79,84,92,0.16) !important;
    --background-modifier-active: rgba(79,84,92,0.24) !important;
    --background-modifier-selected: rgba(79,84,92,0.32) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --info-positive-text: #fff !important;
    --info-warning-text: #fff !important;
    --info-danger-text: #fff !important;
    --info-help-background: rgba(0,176,244,0.1) !important;
    --info-help-foreground: #00b0f4 !important;
    --info-help-text: #fff !important;
    --status-warning-text: #000 !important;
    --scrollbar-thin-thumb: #202225 !important;
    --scrollbar-thin-track: transparent !important;
    --scrollbar-auto-thumb: #202225 !important;
    --scrollbar-auto-track: #2e3338 !important;
    --scrollbar-auto-scrollbar-color-thumb: #202225 !important;
    --scrollbar-auto-scrollbar-color-track: #2f3136 !important;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15) !important;
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16) !important;
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24) !important;
    --logo-primary: #fff !important;
    --control-brand-foreground: #a5b3e7 !important;
    --control-brand-foreground-new: #949cf7 !important;
    --background-mentioned: rgba(250,166,26,0.1) !important;
    --background-mentioned-hover: rgba(250,166,26,0.08) !important;
    --background-message-hover: rgba(4,4,5,0.07) !important;
    --channels-default: #8e9297 !important;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4) !important;
    --channeltextarea-background: #40444b !important;
    --activity-card-background: #202225 !important;
    --textbox-markdown-syntax: #8e9297 !important;
    --deprecated-card-bg: rgba(32,34,37,0.6) !important;
    --deprecated-card-editable-bg: rgba(32,34,37,0.3) !important;
    --deprecated-store-bg: #36393f !important;
    --deprecated-quickswitcher-input-background: #72767d !important;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3) !important;
    --deprecated-text-input-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border: rgba(0,0,0,0.3) !important;
    --deprecated-text-input-border-hover: #040405 !important;
    --deprecated-text-input-border-disabled: #202225 !important;
    --deprecated-text-input-prefix: #dcddde !important;
}
html.newBrand {
    --brand-experiment-100: #7289da !important;
    --brand-experiment-130: #7289da !important;
    --brand-experiment-160: #7289da55 !important;
    --brand-experiment-200: #7289da !important;
    --brand-experiment-230: #7289da !important;
    --brand-experiment-260: #7289da !important;
    --brand-experiment-300: #7289da !important;
    --brand-experiment-330: #7289da !important;
    --brand-experiment-360: #7289da !important;
    --brand-experiment-400: #7289da !important;
    --brand-experiment-430: #7289da !important;
    --brand-experiment-460: #7289da !important;
    --brand-experiment: #7289da !important;
    --brand-experiment-500: #7289da !important;
    --brand-experiment-530: #7289da !important;
    --brand-experiment-560: #7289da !important;
    --brand-experiment-600: #7289da !important;
    --brand-experiment-630: #343b8f !important;
    --brand-experiment-660: #7289da !important;
    --brand-experiment-700: #232861 !important;
    --brand-experiment-730: #21265b !important;
    --brand-experiment-760: #1e2353 !important;
    --brand-experiment-800: #1a1e49 !important;
    --brand-experiment-830: #141738 !important;
    --brand-experiment-860: #0d0f24 !important;
    --brand-experiment-900: #04050c !important;
    --brand-experiment-05a: rgba(88,101,242,0.05) !important;
    --brand-experiment-10a: rgba(88,101,242,0.1) !important;
    --brand-experiment-15a: #7289da55 !important;
    --brand-experiment-20a: #7289da !important;
    --brand-experiment-25a: #7289da !important;
    --brand-experiment-30a: #7289da !important;
    --brand-experiment-35a: #7289da !important;
    --brand-experiment-40a: #7289da !important;
    --brand-experiment-45a: #7289da !important;
    --brand-experiment-50a: #7289da !important;
    --brand-experiment-55a: #7289da !important;
    --brand-experiment-60a: #7289da !important;
    --brand-experiment-65a: #7289da !important;
    --brand-experiment-70a: #7289da !important;
    --brand-experiment-75a: #7289da !important;
    --brand-experiment-80a: #7289da !important;
    --brand-experiment-85a: #7289da !important;
    --brand-experiment-90a: #7289da !important;
    --brand-experiment-95a: #7289da !important;
    --font-display: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    --control-brand-foreground: var(--control-brand-foreground-new) !important;
}
.reaction-1hd86g {
    border-radius: .5rem;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: .25rem;
    margin-bottom: .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: none .1s ease;
    transition: none .1s ease;
    -webkit-transition-property: background-color,border-color;
    transition-property: background-color,border-color;
    background: var(--background-secondary);
    border: 0px !important;
	 border-color: var(--background-secondary) !important;
}

